<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/menu.html :: headerfiles">

</head>

<body class="container-fluid" style="background-color:rgb(255, 255, 255)">
	<nav class="container-fluid navbar navbar-expand-lg navbar-light">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button"
				data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Navbar brand -->
				<a class="navbar-brand mt-2 mt-lg-0" href="#"> <img
					th:src="@{/img/1.png}" height="80px" alt="MDB Logo" loading="lazy" />
				</a>
				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item"><a class="nav-link" href="#service">Accueil</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/admin/client}">Clients</a>
					</li>
				</ul>
				<!-- Left links -->
			</div>
			<!-- Collapsible wrapper -->

			<!-- Right elements -->
			<div class="d-flex align-items-center">
				<!-- Icon -->
				<a class="text-reset me-3" href="#"> <i class="fas fa-shopping-cart"></i>
				</a>

				<!-- Notifications -->
				<div class="dropdown">
					<a class="text-reset me-3 dropdown-toggle hidden-arrow"
						th:href="@{/login}" id="navbarDropdownMenuLink" role="button"
						data-mdb-toggle="dropdown" aria-expanded="false" th:text="@{${user_id.prenom}+' '+${user_id.nom}}"> Profil
						<span class="badge rounded-pill badge-notification bg-danger"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="#"> news</a></li>
						<!-- 	<li>
								<a class="dropdown-item" href="#">Another news</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Something else here</a>
							</li> -->
					</ul>
				</div>
				<!-- Avatar -->
							<div class="dropdown">
						<a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
							id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown"
							aria-expanded="false">
							<img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
								height="25" alt="Black and White Portrait of a Man" loading="lazy" />
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
					<li>
								<a class="dropdown-item" href="#">My profile</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Settings</a>
							</li>
				
							<li>
								<a class="dropdown-item" href="#">Logout</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Right elements -->
			</div>
			<!-- Container wrapper -->
	</nav>
	<br>
	<br>
	<br>
	<div class="row container" >
		<button type="button" class="btn btn-primary col-sm-2"
			data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">
			Add Clients</button>
		<br> <br>
		<table class="table table-hover text-nowrap " id="tabsous">
			<thead>
				<tr>
					<th scope="col">nom</th>
					<th scope="col">Prenom</th>
					<th scope="col">Email</th>
					<th scope="col">Telephone</th>
					<th scope="col">plus</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="cli:${clients}">
					<th  th:text="${cli.nom}">fam</th>
					<td th:text="${cli.prenom}">lamp</td>
					<td ><a th:href="@{'mailto:'+${cli.email}}">admin@gmail.com</a></td>
				    <td  th:text="${cli.telephone}">771234567</td>
					<td><a th:href="@{/admin/client/{id}(id=${cli.id})}" class="btn btn-outline-primary">dimennsionnement</a>&nbsp;&nbsp;&nbsp;
					<a th:href="@{/admin/devis/{id}(id=${cli.id})}" class="btn btn-outline-primary">Devis</a>&nbsp;&nbsp;&nbsp;
					<a  th:href="@{/admin/rapport/{id}(id=${cli.id})}" class="btn btn-outline-primary">Rapport</a>
					</td>
					
				</tr>

			</tbody>
			<script>
					$(document)
							.ready(
									function() {
										$('#tabsous')
												.DataTable(
														{
															"searching" : true,
															"info" : false,
															"bLengthChange" : false,
															"pageLength" : 10,
															"language" : {
																"sEmptyTable" : "Aucune donnée disponible dans le tableau",
																"sInfoPostFix" : "",
																"sInfoThousands" : ",",
																"oPaginate" : {
																	"sNext" : "Suivant",
																	"sPrevious" : "Précédent"
																}
															},
															"aaSorting" : [],
															columnDefs : [ {
																orderable : false,
																targets : 4
															} ]
														});
										$('.dataTables_length').addClass(
												'bs-select');
									});
				</script>
		</table>

	</div>
	<!-- <div th:replace="fragment/menu.html :: jsfiles"></div> -->

	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static"
		data-mdb-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Add
						Clients</h5>
					<button type="button" class="btn-close" data-mdb-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="post" th:action="@{/admin/client}" th:object="${client}">
						<!-- 2 column grid layout with text inputs for the first and last names -->
						<div class="row mb-4">
							<div class="col">
								<!-- Text input -->
								<div class="form-outline mb-4">
									<input type="text" id="form6Example4" th:field="*{nom}" class="form-control" />
									<label class="form-label" for="form6Example4">Nom
										</label>
								</div>

								<!-- Email input -->
								<div class="form-outline mb-4">
									<input type="text" id="form6Example5"  th:field="*{prenom}" class="form-control" />
									<label class="form-label" for="form6Example5">prenom</label>
								</div>

								<!-- Number input -->
								<div class="form-outline mb-4">
									<input type="text" id="form6Example6"  th:field="*{email}" class="form-control" />
									<label class="form-label" for="form6Example6">email</label>
								</div>

								<!-- Message input -->
								<div class="form-outline mb-4">
									<input type="text" id="form6Example6"  th:field="*{telephone}" class="form-control" />
									<label class="form-label" for="form6Example7">Telephone</label>
								</div>
								<!-- Message input -->
								<div class="form-outline mb-4">
									<input type="hidden" id="user_id"   name="user_id" th:value="${user_id.id}" />
									<!-- <label class="form-label" for="form6Example7" th:text="@{${user_id.id}}">Telephone</label> -->
								</div>

								<!-- Submit button -->
								<!--  <button type="submit" class="btn btn-primary btn-block mb-4">Place order</button>-->

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-mdb-dismiss="modal">Annuler</button>
								<button type="submit" class="btn btn-primary">Add
									Client</button>

							</div>
							</div>
					</form>
					<!-- <div th:replace="fragment/menu.html :: jsfiles"></div> -->
				</div>
			</div>
		</div>
		</div>
	
	
			<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
</body>

</html>